<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.seslash.smartaudioswitch">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_smart_ringer_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_smart_ringer_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:description="@string/app_description"
        tools:ignore="AllowBackup">
        <activity
            android:name=".SmartRingerModeSettings"
            android:label="@string/app_name"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RingerModeTileService"
            android:icon="@drawable/ic_volume_up_black_24dp"
            android:label="Sound"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>